@font-face {
    font-family: beast energy;
    src: url("assets/font/beast-energy.ttf");
}

@font-face {
    font-family: JetBrains Mono Bold;
    src: url("assets/font/JetBrainsMono-Bold.ttf");
}

body{
    background-image: url("assets/img/hoshino-ai.jpg");
    background-size: cover;
    object-fit: cover;
    color: white;
}

a{
    text-decoration: none;
}

