header{
    position: fixed;
    height: 45px;
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgba(55, 55, 55, 0.656);
    border: 1px solid rgba(255, 0, 43, 0.428);
    border-radius: 7px;
    font-family: beast energy;
    z-index: 2;
    h3{
        position: relative;
        top: -0.3em;
        margin: 0 auto;
        font-size: 35px;
        display: inline;
        margin-left: 0.2em;
    }
    img{
        position: relative;
        height: 100%;
        display: inline;
        border-radius: 7px;
    }
    a{
        color: white;
    }
    .right{
        position: relative;
        margin: 0;
        top: 0;
        height: 95%;
        width: fit-content;
        float: right;
        border: 2px solid red;
        border-radius: 5px;
        margin-right: 5px;
        img{
            position: relative;
            height: 40px;
            width: 40px;
            padding: 1px;
            display: inline;
        }
        h2{
            position: relative;
            margin: 0;
            top: -0.25em;
            font-size: 35px;
            display: inline;
            margin: 5px;
        }
        transition: all, 0.3s;
        &:hover{
            background-color: rgb(255, 0, 132);
            cursor: pointer;
        }
    }
}