main{
    position: absolute;
    top: 46px;
    left: 0;
    height: fit-content;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.299);
    font-family: JetBrains Mono Bold;
    h3{
        position: relative;
        padding: 5px;
        margin: 0 auto;
        width: fit-content;
    }
    input{
        width: 400px;
        height: 40px;
        background-color: rgba(0, 0, 0, 0.354);
        border-radius: 7px;
        border: 3px solid deeppink;
        color: white;
        font-family: JetBrains Mono Bold;
        &::placeholder{
            color: deeppink;
        }
    }
    .input-holder{
        position: relative;
        margin: 0 auto;
        width: fit-content;
        height: fit-content;
    }
}